h1{
    background-color: rgba(135, 129, 205, 0.795);
}

font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Paprika', cursive;
font-family: 'Quicksand', sans-serif;